.nav-link{
    margin: 0 0.7em;
    color:blueviolet
}



.navbar-nav {
    margin-left: 2em;
    color: blueviolet;
}

.homepage{
    background-color: white;
    display:flex;
    justify-content: space-between;
    height: 500px;
    border-bottom: 1px solid blueviolet;
    border-radius: 10%;
    margin-top: 1.2em;;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
   
}

.animation{
    padding-top: 2em;
    margin-top: 1.5em;
    height: 400px;
    width:50em;
    margin-right: 2em;
}

h1{
    font-size: 6em;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 2.5em;
    color: blueviolet;
}
.mission{
    margin:3em 0 3em;
}

.missionhead{
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin: 0.7em 0;
    color: blueviolet;
}

.missionp{
    font-size: 1.3em;
    line-height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 2.5em;
}

.mission{
    
    margin-bottom:0.7em;
    
}

.service{
    padding-top: 0.7em;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.card>img{
    height:13em;
}

.card-title{
    color:blueviolet
}

.services{
    border-bottom: 1px solid blueviolet;
    margin-bottom: 0.7em;
    padding-bottom:4em;
    margin-top: 3em;
}


.aboutus{
    margin-top: 3em;
}

iframe {
    height:300px;
    width: 400px;
    margin-bottom: 2em;
}

.add{
    font-weight: 500;
}
.contact{
    margin-top: 3em;
}

.contactcontent{
    display: flex;
    justify-content: space-around;

}

.rightc{
    margin-top: 2em;
}

footer{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    margin-top: 2em;
    
}
.foot{
    color: white;
    padding-top: 0.7em;
}

